include dash_grocery/dash_grocery.min.js
include dash_grocery/dash_grocery.min.js.map
include dash_grocery/async-*.js
include dash_grocery/async-*.js.map
include dash_grocery/*-shared.js
include dash_grocery/*-shared.js.map
include dash_grocery/metadata.json
include dash_grocery/package-info.json
include README.md
include LICENSE
include package.json
